@font-face {
  font-family: 'Comfortaa'; /* Custom name for your font */
  src: url('/public/fonts/Comfortaa.ttf') format('truetype');
  font-weight: 300 700; /* Specify the variable font weight range */
  font-style: normal;
}

body {
  font-family: 'Comfortaa', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}